---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lolcommits: selfies for software developers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="lolcommits takes a snapshot with your webcam every time you git commit code.">
    <meta name="author" content="Matthew Rothenberg">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="canonical" href="https://lolcommits.github.io">
  </head>

  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/lolcommits/lolcommits">Fork me on GitHub</a>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">lolcommits</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">About</a></li>
              <li><a href="#samples">Samples</a></li>
              <li><a href="#install">Installation</a></li>
              <li><a href="#usage">Usage</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/lolcommits/lolcommits">Source on GitHub</a></li>
                  <li><a href="https://github.com/lolcommits/lolcommits/wiki/FAQ">FAQ</a></li>
                  <li><a href="https://github.com/lolcommits/lolcommits/issues">Bug reports</a></li>
                  <li><a href="https://github.com/lolcommits/lolcommits/wiki">Lolcommits Wiki</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="assets/img/logo/lolcommits_logo_400px.png" class="logo" />
        <h1>lolcommits: selfies for software developers.</h1>
        <p><strong>lolcommits</strong> takes a snapshot with your webcam every time you git commit code, and archives a lolcat style image with it. <strong><tt>git blame</tt></strong> has never been so much fun.</p>
      </div>

      <div class="social-buttons-row">
        <div class="container">
          <ul class="social-buttons">
            <li>
              <iframe class="github-btn "src="https://ghbtns.com/github-btn.html?user=lolcommits&repo=lolcommits&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=lolcommits&repo=lolcommits&type=fork&count=true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            </li>
            <li>
              <a href="https://twitter.com/lolcommits" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @lolcommits</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/lolcommits/lolcommits" data-text="git-selfies for software developers? check out @lolcommits!" data-related="lolcommits" data-dnt="true">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
          </ul>
        </div>
      </div>

      <section id="about">
        <h2>Meet lolcommits</h2>
        <p class="lead">The single most useful piece of software known to mankind.</p>
        <div class="row">
          <div class="span6">
            <h4>Infinite uses :cyclone:</h4>
            <p>Animate your progress through a project and watch as you age. See what you looked like when you broke the build. Keep a joint lolrepository for your entire company.</p>
         </div>
          <div class="span6">
            <h4>Multi-platform :couple:</h4>
            <p>Thanks to the great open-source community, lolcommits now works on MacOSX, Linux, and even Windows.</p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <h4>Plugin-able :nut_and_bolt:</h4>
            <p>Lolcommits allows a growing list of <a href="https://github.com/lolcommits/lolcommits/wiki/Configuring-Plugins">plugins</a> to perform additional work on your lolcommit image after capturing.
         </div>
          <div class="span6">
            <h4>Animated GIFs :movie_camera:</h4>
            <p>Configure lolcommits to generate an <a
              href="https://github.com/lolcommits/lolcommits#animated-gif-capturing">animated
              GIF</a> with each commmit for extra lulz!</p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <h4>Free &amp; open source :money_with_wings:</h4>
            <p>Hack it to do what you wish. lolcommits is licensed under the LGPL-3.</p>
         </div>
          <div class="span6">
            <h4>Okay fine, it's just for fun :stuck_out_tongue_winking_eye:</h4>
            <p>Hey, that's a <em>good thing</em>, ok? Stop taking everything so seriously.</p>
          </div>
        </div>
      </section>

      <section id="samples">
        <h2>Sample images</h2>
        <div class="row">
          <ul class="thumbnails">
            <li class="span3">
              <img src="assets/img/samples/sample3.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample2.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample1.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample4.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample12.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample13.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample14.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample15.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample9.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample6.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample7.jpeg" alt="" class="thumbnail">
            </li>
            <li class="span3">
              <img src="assets/img/samples/sample8.jpeg" alt="" class="thumbnail">
            </li>
          </ul>
        </div>
        <div class="row">
          <p class="span12">See many more (and add your own!) on the <a href="https://github.com/lolcommits/lolcommits/wiki/Lolcommits-from-around-the-world%21">People Using Lolcommits</a> wiki page.</p>
        </div>
      </section>

      <section id="install">
        <h2>Installation</h2>
        <div class="row">
          <div class="span6">
            <h4><i class="fa fa-apple"></i> OS X</h4>
            {% capture install_mac %}{% include install_mac.md %}{% endcapture %}
            {{ install_mac | markdownify }}
          </div>
          <div class="span6">
            <h4><i class="fa fa-linux"></i> Linux</h4>
            {% capture install_linux %}{% include install_linux.md %}{% endcapture %}
            {{ install_linux | markdownify }}
         </div>
       </div>
        <div class="row">
          <div class="span12">
              <h4><i class="fa fa-windows"></i> Windows</h4>
              <p>Here be dragons!  You'll need some more detailed instructions to get the dependencies installed.</p>
              <p><a class="btn btn-mini" href="https://github.com/lolcommits/lolcommits/wiki/Installing-on-Windows">View details &raquo;</a></p>
          </div>
        </div>
      </section>

      <section id="usage">
        <h2>Usage</h2>
        <div class="row">
          <div class="span12">
            {% capture usage %}{% include usage.md %}{% endcapture %}
            {{ usage | markdownify }}
          </div>
        </div>
      </section>

      <hr>

      <footer>
        <strong>lolcommits</strong> is brought to you with :camera::heart: by :man: <a href="https://github.com/mroth">mroth</a> with assistance from :family: <a href="https://github.com/lolcommits/lolcommits/graphs/contributors">many fine contributors</a>.
      </footer>

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    {% include analytics.html %}
  </body>

</html>
